Optionally allow 127.0.0.1 (i.e. loopback) to be gathered

Previous discussion on HN: https://news.ycombinator.com/item?id=35219495

>  For example, to further reduce latency, it is possible to tunnel TCP traffic through USB with the help of Android's debugging interface, but this interface does not allow tunneling of UDP, nor does webrtc-rs allows listening on 127.0.0.1 (it is hardcoded to ignore the loopback interface).

It seems that Pion has supported this, would love it if this can be implemented here.

Technically, allowing loopback host candidates to be gathered would be a violation of the ICE spec, so if this optional behavior is implemented, we should make that clear to users.

From [RFC8445, section 5.1.1.1](https://www.rfc-editor.org/rfc/rfc8445#section-5.1.1.1):

```
   The host candidates are gathered from all IP addresses with the
   following exceptions:

   o  Addresses from a loopback interface MUST NOT be included in the
      candidate addresses.
      
   ...
```

Yes, and I have to admit that my use case is extremely niche.

However, I also recall that some users have complained that they can not develop or debug their applications locally when they do not have any network conenction at all (i.e. only the loopback interface has IP address).

Allowing lookback to be gathered can really be useful, but we need to make sure that users know that this is not standard-complaint.