[TURN] `handle_allocate_request` function does not validate reservation token

[Here](https://github.com/webrtc-rs/webrtc/blob/ea04e6842290c649294f37577adc9a21bb2370ce/turn/src/server/request.rs#L394C76-L394C76) according to RFC 5766 Section 6.2, point 5, the reservation token (received from the `RESERVATION-TOKEN` attribute) should be checked if it is valid, otherwise a 508 (Insufficient Capacity) error is returned. But the code doesn't do the validation.