Inactive tracks should not be stopped

As showcased in https://github.com/webrtc-rs/webrtc/issues/191 tracks that go from .e.g. `sendonly` to `inactive` in the course of applying a remote offer(via `set_remote_description`) are stopped:

https://github.com/webrtc-rs/webrtc/blob/de83067295e4394cb3a66fe9ceffc7865e2f4217/src/peer_connection/mod.rs#L1314-L1316

My understanding of the specification is that when a media description becomes `inactive` that shouldn't cause the corresponding transceiver to stop. 

I took a stab at removing this stopping behaviour because it causes the bug in https://github.com/webrtc-rs/webrtc/issues/191 and that works‚ in so far that, it stops the endless loop.

On the JS side reactivating the media description via

```js
transceiver.sender.replaceTrack(newTrack);
transceiver.direction = "sendonly";
```

and negotiating does not cause `webrtc-rs` to bring the transceiver back from `inactive` to `recvonly`.

Instead of stopping here's what I think should happen(based on my reading of the specifications):

## Receiving

If we were receiving and now aren't because our local direction will become `sendonly` or `inactive` nothing in particular should happen. We'll keep sending RTCP packets for receiver reports etc.

## Sending

Similarly, if we are sending and receive an answer that changes our local direction to `recvonly` or `inactive` we need to take some action.

RFC8829 has the following to say about applying an answer that changes the direction such that sending is no longer happening.

> If the direction attribute in the answer indicates that the
> JSEP implementation should not be sending media ("recvonly" for
> local answers, "sendonly" for remote answers, or "inactive" for
> either type of answer), stop transmitting all RTP media, but
> continue sending RTCP, as described in [[RFC3264], Section 5.1](https://datatracker.ietf.org/doc/html/rfc3264#section-5.1).

It seems to me like we have an implicit state machine in `RTPSender` as follows:

![image](https://user-images.githubusercontent.com/1333960/169045602-1d8a8cba-305c-42f9-8fdc-99e22bc1148c.png)

Based on the language from RFC8829 it sounds like we'd want to extend this as follows 
![image](https://user-images.githubusercontent.com/1333960/169046057-aae5aaf8-ea16-494e-8208-c4a7d6991d90.png)

Any sends on a bound track for a paused `RTPSender` should either fail or become no-ops. RTCP should continue.

This also relates to https://github.com/webrtc-rs/webrtc/issues/162